In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import REST, TimeFrame
import numpy as np
from matplotlib import pyplot as plt
import datetime



%matplotlib inline

In [2]:
# we will be pulling the url of bitcoin and etherium using the given url 
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD" + "?format=json"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD" + "?format=json"

requests.get(btc_url)
requests.get(eth_url)

In [3]:
# here we we will request the data and then create a variable for the content and also we are goin gto set up the current holding from the user
response_eth = requests.get(btc_url)
response_btc = requests.get(eth_url) 


new_cyrpto_info_eth = response_eth.content
new_cyrpto_ifno_btc = response_btc.content

print(new_cyrpto_ifno_btc)
print(new_cyrpto_info_eth)

my_btc = 1.2
my_eth = 5.3

b'{\n\t"data": {\n\t\t"1027": {\n\t\t\t"id": 1027,\n\t\t\t"name": "Ethereum",\n\t\t\t"symbol": "ETH",\n\t\t\t"website_slug": "ethereum",\n\t\t\t"rank": 2,\n\t\t\t"circulating_supply": 120316855,\n\t\t\t"total_supply": 120316855,\n\t\t\t"max_supply": 0,\n\t\t\t"quotes": {\n\t\t\t\t"USD": {\n\t\t\t\t\t"price": 3253.2500000000000000,\n\t\t\t\t\t"volume_24h": 8216036296,\n\t\t\t\t\t"market_cap": 391311102179,\n\t\t\t\t\t"percentage_change_1h": -0.0784854988990570,\n\t\t\t\t\t"percentage_change_24h": 1.0322127981849800,\n\t\t\t\t\t"percentage_change_7d": -5.4380620558063400,\n\t\t\t\t\t"percent_change_1h": -0.0784854988990570,\n\t\t\t\t\t"percent_change_24h": 1.0322127981849800,\n\t\t\t\t\t"percent_change_7d": -5.4380620558063400\n\t\t\t\t}\n\t\t\t},\n\t\t\t"last_updated": 1649569411\n\t\t}\n\t},\n\t"metadata": {\n\t\t"timestamp": 1649569411,\n\t\t"num_cryptocurrencies": 3105,\n\t\t"error": null\n\t}\n}'
b'{\n\t"data": {\n\t\t"1": {\n\t\t\t"id": 1,\n\t\t\t"name": "Bitcoin",\n\t\t\t"symbol": "BTC",\n\t\t\t"website_slug": "bitcoin",\n\t\t\t"rank": 1,\n\t\t\t"circulating_supply": 19007625,\n\t\t\t"total_supply": 19007625,\n\t\t\t"max_supply": 21000000,\n\t\t\t"quotes": {\n\t\t\t\t"USD": {\n\t\t\t\t\t"price": 42755.0000000000000000,\n\t\t\t\t\t"volume_24h": 12395491224,\n\t\t\t\t\t"market_cap": 812654406150,\n\t\t\t\t\t"percentage_change_1h": -0.0864217712249568,\n\t\t\t\t\t"percentage_change_24h": 0.4408618198509350,\n\t\t\t\t\t"percentage_change_7d": -6.7335173848496400,\n\t\t\t\t\t"percent_change_1h": -0.0864217712249568,\n\t\t\t\t\t"percent_change_24h": 0.4408618198509350,\n\t\t\t\t\t"percent_change_7d": -6.7335173848496400\n\t\t\t\t}\n\t\t\t},\n\t\t\t"last_updated": 1649569340\n\t\t}\n\t},\n\t"metadata": {\n\t\t"timestamp": 1649569340,\n\t\t"num_cryptocurrencies": 3105,\n\t\t"error": null\n\t}\n}'

In [4]:
# we are going to use json for the dump this would be for both bitcoin and etherium 
import json

data1 = response_eth.json() 
data2 = response_btc.json()

In [5]:


print(json.dumps(data1,indent=4))

{
    "data": {
        "1": {
            "id": 1,
            "name": "Bitcoin",
            "symbol": "BTC",
            "website_slug": "bitcoin",
            "rank": 1,
            "circulating_supply": 19007625,
            "total_supply": 19007625,
            "max_supply": 21000000,
            "quotes": {
                "USD": {
                    "price": 42755.0,
                    "volume_24h": 12395491224,
                    "market_cap": 812654406150,
                    "percentage_change_1h": -0.0864217712249568,
                    "percentage_change_24h": 0.440861819850935,
                    "percentage_change_7d": -6.73351738484964,
                    "percent_change_1h": -0.0864217712249568,
                    "percent_change_24h": 0.440861819850935,
                    "percent_change_7d": -6.73351738484964
                }
            },
            "last_updated": 1649569340
        }
    },
    "metadata": {
        "timestamp": 1649569340,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [6]:
print(json.dumps(data2,indent=4))

{
    "data": {
        "1027": {
            "id": 1027,
            "name": "Ethereum",
            "symbol": "ETH",
            "website_slug": "ethereum",
            "rank": 2,
            "circulating_supply": 120316855,
            "total_supply": 120316855,
            "max_supply": 0,
            "quotes": {
                "USD": {
                    "price": 3253.25,
                    "volume_24h": 8216036296,
                    "market_cap": 391311102179,
                    "percentage_change_1h": -0.078485498899057,
                    "percentage_change_24h": 1.03221279818498,
                    "percentage_change_7d": -5.43806205580634,
                    "percent_change_1h": -0.078485498899057,
                    "percent_change_24h": 1.03221279818498,
                    "percent_change_7d": -5.43806205580634
                }
            },
            "last_updated": 1649569411
        }
    },
    "metadata": {
        "timestamp": 1649569411,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [7]:
# here we are pulling directly from those areas and are going to be specific on how we pull the price
btc_price = (data1['data']['1']['quotes']['USD']['price'])
eth_price = (data2['data']['1027']['quotes']['USD']['price'])

In [8]:
# we are calculating the value price of etherium and bitcoin for the user and how much they would have in value
btc_value = btc_price * my_btc
             
eth_value = eth_price * my_eth
            

print(btc_value)
print(eth_value)

51306.0
17242.225

In [9]:
# this is the second part where we will pull stocks and bonds, first we generete a dataframe for shares that will be used down the line 
shares_data = {
    "shares": [200,50]
}

tickers=["AGG","SPY"]

df_share =pd.DataFrame(shares_data,index=tickers)

print(df_share)

# we will pull the alpaca key and the secrete key using the tradeapi.rest
load_dotenv()

api_key = os.getenv("QUANDL_API_KEY")
api_skey = os.getenv("SECRET_API_KEY")

print(f"Alpaca Key type: {type(api_key)}")
print(f"Alpaca Secret Key type: {type(api_skey)}")

     shares
AGG     200
SPY      50
Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [10]:
# Format current date as ISO format
start = pd.Timestamp("2019-07-14", tz="America/New_York").isoformat()
end = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()

In [11]:
#we are using the key to gain access to pull information of SPY and AGG, it is in a different format because the .rest() was acting up so this is an alternate way of pulling the data

api = REST(api_key,api_skey)

df_portfolio_spy = api.get_bars("SPY",TimeFrame.Day,"2021-06-08",limit=1000).df

df_portfolio_spy.head()
#df_portfolio_spy.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-06-08 04:00:00+00:00,423.16,423.21,420.32,422.28,47135978,322200,422.179111
2021-06-09 04:00:00+00:00,423.15,423.26,421.41,421.65,48436158,286358,422.325509
2021-06-10 04:00:00+00:00,422.96,424.63,421.55,423.61,51043502,336966,423.323172
2021-06-11 04:00:00+00:00,424.12,424.43,422.82,424.31,45188069,255513,423.769273
2021-06-14 04:00:00+00:00,424.43,425.37,423.10,425.26,42263981,278931,424.093624

In [12]:
df_portfolio_agg = api.get_bars("AGG",TimeFrame.Day,"2021-06-08", limit=1000).df
df_portfolio_agg.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-06-08 04:00:00+00:00,114.84,114.87,114.7800,114.81,4395332,16511,114.826518
2021-06-09 04:00:00+00:00,115.00,115.43,114.9700,115.04,3643098,12294,115.048163
2021-06-10 04:00:00+00:00,114.91,115.31,114.8605,115.28,3963706,15696,115.137864
2021-06-11 04:00:00+00:00,115.29,115.32,115.1600,115.23,3781884,15040,115.241146
2021-06-14 04:00:00+00:00,115.18,115.18,114.9350,114.94,3271051,11467,115.008052

In [13]:
# we are pulling the closing price for SPY and AGG


df_closing_prices = pd.DataFrame()

df_closing_prices["SPY"] = df_portfolio_spy['close']

df_closing_prices['AGG'] = df_portfolio_agg['close']

df_closing_prices.head()

                              SPY     AGG
timestamp
2021-06-08 04:00:00+00:00  422.28  114.81
2021-06-09 04:00:00+00:00  421.65  115.04
2021-06-10 04:00:00+00:00  423.61  115.28
2021-06-11 04:00:00+00:00  424.31  115.23
2021-06-14 04:00:00+00:00  425.26  114.94

In [33]:
# we will convert the two groups into floats which would remove the timestamp, believe me this was the longest part because i tried to remove the timestamp directly but it would act out. we are also pulling the price of the date 06-08-2021
closing_day_spy = float(df_closing_prices['SPY']["2021-06-08"])

closing_day_agg = float(df_closing_prices['AGG']["2021-06-08"])





spy_price = closing_day_spy * df_share.loc['SPY']["shares"]

agg_price = closing_day_agg * df_share.loc["AGG"]["shares"]





print(f"The current value of the {df_share.loc['AGG']['shares']} AGG shares is ${agg_price:0.2f}")
print(f"The current value of the {df_share.loc['SPY']['shares']} SPY shares is ${spy_price:0.2f}")

21114.0
22962.0
The current value of the 200 AGG shares is $22962.00
The current value of the 50 SPY shares is $21114.00

In [16]:
# just adding the values together 
monthly_income = 12000
crypto_total = btc_value + eth_value
share_total = spy_price + agg_price

print(crypto_total)
print(share_total)

68548.225
44076.0

In [29]:
# creating a new dataframe for the share/bond and the cyrpto which then is being displayed 
value_data = {
    "Amount" : [share_total, crypto_total]
}
     

df_value = pd.DataFrame(value_data)
df_saving = df_value.index = ['shares','crypto']
y = {
    'shares','crypto'
}
df_value

           Amount
shares  44076.000
crypto  68548.225

In [41]:
value_data([share_total,crypto_total]).sum().plot(kind='pie', y = ['shares','crypto'])

TypeError: 'dict' object is not callable

In [35]:
monthly_income = 12000
emergency_fund = share_total + crypto_total

if monthly_income * 3 < emergency_fund:
    print("you have enough money saved up")
elif monthly_income * 3 > emergency_fund:
    print("you do not have enough, and need to save more")
else:
    print("you have the exact amount")

you have enough money saved up